<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar color="black">
    <ion-title>
      <h1>APP Ventas</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header [translucent]="true" class="ion-text-center ion-no-border">
    <br>
    <br>
    <ion-icon name="ticket-outline" [@fadeInOut]></ion-icon>
    <ion-title >Eventos</ion-title>
  </ion-header>
  
  <div>
    <div id="container">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Evento A</ion-card-title>
          <ion-card-subtitle>Cine</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="clear" (click)="openModal()">Comprar</ion-button>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Evento C</ion-card-title>
          <ion-card-subtitle>Teatro</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="clear" (click)="openModal()">Comprar</ion-button>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Evento D</ion-card-title>
          <ion-card-subtitle>Movistar</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="clear" (click)="openModal()">Comprar</ion-button>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Evento E</ion-card-title>
          <ion-card-subtitle>Estadio nacional</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
        <ion-button fill="clear" (click)="openModal()">Comprar</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-text-center ion-no-border">
  <ion-toolbar color="black">
    <ion-title>App Desarrollada por FcaHJ</ion-title>
  </ion-toolbar>
</ion-footer>
 