#container{
    text-align: center;
  

    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
}

ion-card{
    margin: 1rem auto;
    width: 80%;
    padding: 1rem;
}

  
@keyframes fadeInOut {
    from, 20%, 50%, 80%, to {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
  }
  
  .animation {
    animation: bounce 1s ease infinite;
  }
  